---
title: Code of Conduct
layout: content.njk
description: Rules that we expect participants of our community to follow.
---

<a href="/" class="link blue mb3 db">&larr; Back to index</a>

<h2 class="f1 mt0 georgia">Code of Conduct</h2>

<h3 class="f3 georgia">Our Pledge</h3>

<p class="lh-copy f4">
In the interest of fostering an open and welcoming environment, we as
contributors and maintainers pledge to making participation in our project and
our community a harassment-free experience for everyone, regardless of age, body
size, disability, ethnicity, sex characteristics, gender identity and expression,
level of experience, education, socio-economic status, nationality, personal
appearance, race, religion, or sexual identity and orientation.
</p>

<h3 class="f3 georgia">Our Standards</h3>

<p class="lh-copy f4">
Examples of behavior that contributes to creating a positive environment
include:

<ul class="lh-copy f4">
<li>Using welcoming and inclusive language</li>
<li>Being respectful of differing viewpoints and experiences</li>
<li>Gracefully accepting constructive criticism</li>
<li>Focusing on what is best for the community</li>
<li>Showing empathy towards other community members</li>
</ul>
</p>

<p class="lh-copy f4">
Examples of unacceptable behavior by participants include:

<ul class="lh-copy f4">
<li>The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
<li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
<li>Public or private harassment</li>
<li>Publishing others' private information, such as a physical or electronic address, without explicit permission</li>
<li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
</ul>
</p>

<h3 class="f3 georgia">Our Responsibilities</h3>

<p class="lh-copy f4">
The Tometo team is responsible for clarifying the standards of acceptable
behavior and are expected to take appropriate and fair corrective action in
response to any instances of unacceptable behavior.
</p>

<p class="lh-copy f4">
The Tometo team has the right and responsibility to remove, edit, or
reject comments, commits, code, wiki edits, issues, and other contributions
that are not aligned to this Code of Conduct, or to ban temporarily or
permanently any contributor for other behaviors that they deem inappropriate,
threatening, offensive, or harmful.
</p>

<h3 class="f3 georgia">Scope</h3>

<p class="lh-copy f4">
This Code of Conduct applies within all project spaces, and it also applies when
an individual is representing the project or its community in public spaces.
This applies to the project GitLab instance, the Discord server, but also the
official Twitter account. Representation of a project may be further defined
and clarified by project maintainers.
</p>

<h3 class="f3 georgia">Enforcement</h3>

<p class="lh-copy f4">
Instances of abusive, harassing, or otherwise unacceptable behavior may be
reported by contacting the project lead at <a href="mailto:marisa@mokou.zone" class="link blue">marisa@mokou.zone</a>. All
complaints will be reviewed and investigated and will result in a response that
is deemed necessary and appropriate to the circumstances. The Tometo team is
obligated to maintain confidentiality with regard to the reporter of an incident.
Further details of specific enforcement policies may be posted separately.
</p>

<p class="lh-copy f4">
Project maintainers who do not follow or enforce the Code of Conduct in good
faith may face temporary or permanent repercussions as determined by other
members of the project's leadership.
</p>

<h3 class="f3 georgia">Attribution</h3>

<p class="lh-copy f4 i">
This Code of Conduct is adapted from the <a href="https://www.contributor-covenant.org" class="link blue">Contributor Covenant</a>, version 1.4,
available at <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct.html" class="link blue">this link</a>
</p>

<p class="lh-copy f4">
For answers to common questions about this code of conduct, see
<a href="https://www.contributor-covenant.org/faq" class="link blue">here</a>
</p>
