---
title: About Tome
layout: content.njk
description: Information about Tome, our mascot!
---

<a href="/" class="link blue mb3 db">&larr; Back to index</a>

<h2 class="f1 georgia mt0">About Tome</h2>

<p class="lh-copy measure v-mid f4">
  This <img src="/img/tome.png" width="30" class="v-mid mh2" alt="The primary logo for Tometo, its mascot Tome"/> funny girl is
  Tome! She's our official mascot and spokesperson for everything text-to-speech.
  Tome was designed by <a href="https://twitter.com/mintdecot" class="link blue">Mint</a>!
  Here's some facts about Tome:

  <ul class="f4 pl0 measure lh-copy">
    <li class="mb2">In our first brainstorming we described her as "relatable gap moe catgirl mascot"</li>
    <li class="mb2">She's trying very hard all of the time</li>
    <li class="mb2">
      She's wearing the bottom part of a cat mascot uniform, but it's stained due to having to walk through
      <i>toxic waste</i> every single day.
    </li>
    <li class="mb2">She's also wearing a cat headband because, as mentioned previously, she's trying very hard</li>
    <li>She's dating another, as of yet unrevealed mascot</li>
  </ul>
</p>

<p class="lh-copy measure f4">
  If you are interested in drawing fanart of Tome, feel free to do so, but be
  aware of the value of your labor. A reference is provided below:
</p>

<img src="/img/tomedesign.png" alt="A visual reference sheet for Tome's design"/>
