<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ title }} - Tometo</title>
  <meta name="author" content="The Tometo team" />
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="text to speech, social network, miitomo"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://tometo.mokou.zone/icon/ms-icon-310x310.png"/>
  <meta property="og:title" content="{{ title }} - Tometo"/>
  <meta property="og:site_name" content="Tometo"/>
  <meta property="og:url" content="https://tometo.mokou.zone"/>
  <meta property="og:description" content="{{ description }}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@tometo_official"/>
  <meta name="twitter:description" content="{{ description }}"/>
  <meta name="twitter:title" content="{{ title }} - Tometo"/>
  <meta name="twitter:image" content="https://tometo.mokou.zone/icon/ms-icon-310x310.png"/>
  <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body class="bg-white">
  {{content | safe}}

  <section class="mw9 center tc ph7-l">
    <div class="bt b--black-50 pv3">
      <a href="https://twitter.com/tometo_official" class="link blue">twitter</a> &middot;
      <a href="https://discord.gg/xqTEcaw" class="link blue">discord</a> &middot;
      <a href="/conduct" class="link blue">code of conduct</a> &middot;
      the source for this website is available <a href="https://marisa.cloud/tometo/web" class="link blue">here</a>
    </div>
  </section>

  <!-- very small website tracking snippet -->
  <script>
    (function() {
		    if (window.location.hostname.indexOf('localhost') > -1) {
			      return
		    }

		    var script = document.createElement('script')
		    window.counter = 'https://mokou.goatcounter.com/count'
		    script.async = 1
		    script.src = '//static.goatcounter.com/count.min.js'

		    var ins = document.getElementsByTagName('script')[0]
		    ins.parentNode.insertBefore(script, ins)
	  })();
</script>
</body>
</html>
